<h2><%= spot.name %></h2>
<p><%= spot.location %></p>
<p><%= spot.category.name %></p>
<% spot.stories.each do |story| %>
<p><%=story.content %></p>
<% end %>
<% spot.photos.each do |photo| %>
<%= cl_image_tag photo, height: 150, width: 200, crop: :fill, class: "card-img-top" %>
<% end %>

