<h2><%= spot.name %></h2>
<p><%= spot.location %></p>
<p><%= spot.category.name %></p>
<% spot.stories.each do |story| %>
<p><%=story.content %></p>
<% end %>
<%=  cl_image_tag spot.photos.first.file.key, height: 350, width: 350, crop: :fill, class: "card-img-top"%>


