<div
  id="map"
  style="width: 100%;
  height: 600px;"
  data-markers="<%= @markers.to_json %>">
</div>

<div class="container">
  <div class="mt-5 mb-3">
    <%= render 'search_bar' %>
  </div>
  <div class="row">
    <% @spots.each do |spot| %>
      <div class="col-12 col-md-6 col-lg-6">

        <div class="card mt-3">
          <div class="card-description">
            <% if spot.photos.first %>
            <%=  cl_image_tag spot.photos.first.file.key, height: 350, width: 350, crop: :fill, class: "card-img-top"%>
            <% end %>
            <h5><%= link_to spot.name, spot_path(spot) %></h5>
            <p><%= spot.location  %><p>
            <p><%= spot.category_id %></p>
            <%= render 'shared/favourite_button', spot: spot %>
          </div>
        </div>
      </div>
    <% end %>
  </div>

</div>
