<div class="">
  <div
    id="map"
    style="width: 100%;
    height: 600px;"
    data-markers="<%= @markers.to_json %>">
  </div>
  <!-- <a class="btn btn-primary waves-light waves-effect btn-lg">Click me</a> -->
  <div class="container">
    <div class="mt-5 mb-3">
      <%= render 'search_bar' %>
    </div>
    <div class="row d-flex justify-content-center">
      <div class="col-12 col-lg-6">
      <% @spots.each do |spot| %>
        <!-- <div class="col-6 col-md-3 col-lg-3"> -->
          <div class="card mt-3">
            <div class="card-description waves-light waves-effect">
              <% if spot.photos.first %>
                <%=  cl_image_tag spot.photos.first.file.key, height: 350, width: 350, crop: :fill, class: "card-img-top waves-light waves-effect"%>
              <% end %>

              <div class="d-flex justify-content-between px-3 mt-3">
                <h5><%= link_to spot.name, spot_path(spot) %></h5>
                <%= render 'shared/favourite_button', spot: spot %>
              </div>
              <div class="d-flex justify-content-between px-3">
                <p><%= spot.location  %><p>
                <p><%= spot.category.name %></p>
              </div>

            </div>
          </div>
        <!-- </div> -->
      <% end %>
      </div>
    </div>
  </div>
</div>


