<div class="mt-5 mb-3 container">
  <%= render 'search_bar' %>
</div>
<div id="wrapper">
  <div
  id="map"
  style="width: 100%;
  height: 600px;"
  data-markers="<%= @markers.to_json %>">
</div>
<div class="horizontal-scrollable" id="over_map">
  <div class="horizontal-row px-5 js-map-carousel">

    <% @spots.each do |spot| %>
    <div class="card mt-3">
      <div class="spot-banner">
        <div class="button-bar">
          <%= render 'shared/favourite_button', spot: spot %>
        </div>
      </div>

      <div class="index-image">
        <%= link_to spot_path(spot), :remote => true do %>
        <% if spot.photos.first %>
        <%=  cl_image_tag spot.photos.first.file.key, height: 350, width: 350, crop: :fill, class: "card-img-top waves-light waves-effect"%>
        <% end %>
        <% end %>
      </div>

      <div class="card-description p-3 d-flex flex-wrap flex-column">
        <h5><%= spot.name %></h5>
        <p><%= spot.location %><p>
          <p><%= spot.category.name %></p>
        </div>

      </div>
      <% end %>
    </div>
  </div>
</div>
<!-- Modal from here -->
<div class="modal fade" id="staticBackdrop" data-backdrop="static" data-keyboard="false" tabindex="-1" role="dialog" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true"><i class="far fa-times-circle"></i></span>
        </button>
      </div>
      <div class="modal-body js-spot-show">
        <!-- Called show.js.erb using class js-spot-show above -->
      </div>

            <!-- <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div> -->
          </div>
        </div>
      </div>
