<div class="mt-5 mb-3 container map-container">
  <div class="add-spot-button-container">
    <div class="d-flex justify-content-end m-2 spot-button-container">
      <%= link_to "+", new_spot_path, class: "add-spot-button" %>
    </div>
  </div>
    <%= render 'search_bar' %>
</div>
<div id="wrapper">
  <div
    id="map"
    style="width: 100%;
    height: 600px;"
    data-markers="<%= @markers.to_json %>">
  </div>
  <div class="horizontal-scrollable" id="over_map">
    <div class="horizontal-row px-5 js-map-carousel">

        <% @spots.each do |spot| %>
        <%= link_to spot_path(spot), class: "card mt-3" do %>

          <div class="spot-banner">
            <div class="button-bar">
              <%= render 'shared/favourite_button', spot: spot %>
            </div>
          </div>
          <div class="index-image">
            <% if spot.photos.first %>
               <%=  cl_image_tag spot.photos.first.file.key, height: 350, width: 350, crop: :fill, class: "card-img-top waves-light waves-effect"%>
            <% end %>
          </div>
           <div class="card-description p-3 d-flex flex-wrap flex-column">
            <h5><%= spot.name%></h5>
            <p><%= spot.location %><p>
            <p><%= spot.category.name %></p>
           </div>
          <% end %>
        <% end %>
    </div>
  </div>
</div>



