<div class="mt-5 mb-3 container">
  <div class="add-spot-button">
    <div class="d-flex justify-content-end m-2 spot-button-container">
      <%= link_to new_spot_path do %>
        <svg class="bi bi-plus-circle" width="5em" height="5em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
          <path fill-rule="evenodd" d="M8 3.5a.5.5 0 0 1 .5.5v4a.5.5 0 0 1-.5.5H4a.5.5 0 0 1 0-1h3.5V4a.5.5 0 0 1 .5-.5z"/>
          <path fill-rule="evenodd" d="M7.5 8a.5.5 0 0 1 .5-.5h4a.5.5 0 0 1 0 1H8.5V12a.5.5 0 0 1-1 0V8z"/>
          <path fill-rule="evenodd" d="M8 15A7 7 0 1 0 8 1a7 7 0 0 0 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
        </svg>
      <% end %>
  </div>
</div>
    <%= render 'search_bar' %>
</div>
<div id="wrapper">
  <div
    id="map"
    style="width: 100%;
    height: 600px;"
    data-markers="<%= @markers.to_json %>">
  </div>
  <div class="horizontal-scrollable" id="over_map">
    <div class="horizontal-row px-5 js-map-carousel">

        <% @spots.each do |spot| %>
        <%= link_to spot_path(spot), class: "card mt-3" do %>

          <div class="spot-banner">
            <div class="button-bar">
              <%= render 'shared/favourite_button', spot: spot %>
            </div>
          </div>
          <div class="index-image">
            <% if spot.photos.first %>
               <%=  cl_image_tag spot.photos.first.file.key, height: 350, width: 350, crop: :fill, class: "card-img-top waves-light waves-effect"%>
            <% end %>
          </div>
           <div class="card-description p-3 d-flex flex-wrap flex-column">
            <h5><%= spot.name%></h5>
            <p><%= spot.location %><p>
            <p><%= spot.category.name %></p>

           </div>
          <% end %>
        <% end %>
    </div>
  </div>
</div>



