<div class="mt-5 mb-3 container">
    <%= render 'search_bar' %>
</div>
<div id="wrapper">
  <div
    id="map"
    style="width: 100%;
    height: 600px;"
    data-markers="<%= @markers.to_json %>">
  </div>
  <div class="horizontal-scrollable" id="over_map">
     <div class="horizontal-row px-5 js-map-carousel">
        <% @spots.each do |spot| %>

          <div class="card mt-3">
            <div class="index-image">
              <% if spot.photos.first %>
                <%=  cl_image_tag spot.photos.first.file.key, height: 350, width: 350, crop: :fill, class: "card-img-top waves-light waves-effect"%>
              <% end %>
            </div>
            <div class="card-description p-1 d-flex flex-wrap flex-column">
              <p><%= link_to spot.name, spot_path(spot) %></p>
              <%= render 'shared/favourite_button', spot: spot %>
              <p><%= spot.location  %><p>
              <p><%= spot.category.name %></p>
            </div>

          </div>
          <% end %>
      </div>
  </div>
</div>


