<div class="card d-flex flex-column align-items-center justify-content-center pt-5">
  <%= cl_image_tag user.photo.file.key, height: 200, width: 200, crop: :fill, class: "avatar-large-circle", alt: "avatar-large-square" %>
  <div class="card-body">
    <div class="d-flex align-items-center">
    <p class="card-text" style="margin: 0.5em"><small><%= @user.username %></small></p>
    <%= render 'shared/follow_button', user: user %>
    </div>
    <p class="card-text"><strong><%= "#{user.first_name} #{user.last_name}" %></strong></p>
    <p class="card-text"><%= user.bio %></p>
    </div>
  </div>
</div>
