<div class="card d-flex flex-column align-items-center justify-content-center pt-3">
  <%= cl_image_tag user.photo.file.key, height: 200, width: 200, crop: :fill, class: "avatar-large-circle", alt: "avatar-large-square" %>
  <div class="card-body">
    <div class="d-flex align-items-center">
    <%= render 'shared/follow_button', user: user %>
    <p class="card-text"><small><%= @user.username %></small></p>
    </div>
    <p class="card-text"><strong><%= "#{user.first_name} #{user.last_name}" %></strong></p>
    <p class="card-text"><%= user.bio %></p>
    <%= link_to "Find & Connect", users_path, class: "btn btn-primary" %>
    </div>
  </div>
</div>
