<div class="card d-flex flex-column align-items-center">
  <%= cl_image_tag user.photo.file.key, height: 200, width: 200, crop: :fill, class: "avatar-large-square", alt: "avatar-large-square" %>
  <div class="card-body">
    <h5 class="div card-title"></h5>
    <p class="card-text"><small><%= @user.username %></small></p>
    <p class="card-text"><strong><%= "#{user.first_name} #{user.last_name}" %></strong></p>
    <p class="card-text"><%= user.bio %></p>
    <%= render 'shared/follow_button', user: user %>
    <%= link_to "%>
    </div>
  </div>
</div>
