<!-- <div class="container col-sm mb-3 mt-4">
  <div class="text-center mt-3 mb-3">
    <h3>Bucket List</h3>
  </div>
  <div class="button-cart mt-1">
    <%= link_to spots_path do %>
    <i class="fa fa-arrow-left" style="color:#404040; font-size:30px"></i>
    <% end %>
  </div>
  <div class="row d-flex justify-content-center mt-5 mb-3">
    <div class="bar-card">
      <ul class="list-group">
        <% @favourites.each do |favourite| %>
        <li class="list-group-item js-fav-collapse">
          </strong> <%= link_to favourite.spot.name, spot_path(favourite.spot) %> --
          <%= favourite.spot.location  %>   <%= render 'shared/favourite_button', spot: favourite.spot %>
        </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
 -->

<div class="container col-sm col-lg-4 mt-5 mb-4">
  <h1 class="text-center">Bucket List</h1>
  <div class="row">
    <div class="cart mt-5">
      <% if @favourites.empty? %>
      <p>not sure whats next?</p>
       <% else %>
        <% @favourites.each do |favourite| %>
        <%= link_to favourite.spot.name, spot_path(favourite.spot) %> --
        <%= favourite.spot.location  %>   <%= render 'shared/favourite_button', spot: favourite.spot %>
         <br>
         <br>
         <br>
      <% end %>
      <% end %>
      <p>not sure whats next?</p>

    </div>
  </div>
</div>



