<div class="container text-center">
  <div class="row">
    <div class="col-sm flex-column">
     <div class="card mt-5" style="width: 18rem; margin: 0 auto;">
      <div class="card-body">
        <div>
          <h3>
            <%= @story.spot.name %>
          </h3>
        </div>
        <%= render 'shared/carousel', photoable: @story %>
      </div>
    </div>
    <div class="card mt-5 p-3" style="width: 18rem; margin: 0 auto;">
      <div><p>
        <%= "#{@spot.category.question}? #{@story.content}" %>
      </p></div>
      <div><p>
        <%= "#{current_user.first_name}" %>
      </p></div>

    </div>
  </div>
    <%= link_to "Back", spot_path(@spot), class: "btn btn-dark mt-5 mb-5" %>
</div>
</div>
