<!DOCTYPE html>
<html>
  <head>
    <title>Spotty</title>
    <title><%= meta_title %></title>
    <meta name="description" content="<%= meta_description %>">

    <!-- Facebook Open Graph data -->
    <meta property="og:title" content="<%= meta_title %>" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="<%= request.original_url %>" />
    <meta property="og:image" content="<%= meta_image %>" />
    <meta property="og:description" content="<%= meta_description %>" />
    <meta property="og:site_name" content="<%= meta_title %>" />

    <!-- Twitter Card data -->
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="<%= DEFAULT_META["twitter_account"] %>">
    <meta name="twitter:title" content="<%= meta_title %>">
    <meta name="twitter:description" content="<%= meta_description %>">
    <meta name="twitter:creator" content="<%= DEFAULT_META["twitter_account"] %>">
    <meta name="twitter:image:src" content="<%= meta_image %>">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= favicon_link_tag asset_path('fav.png') %>

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <script src="https://maps.googleapis.com/maps/api/js?libraries=places&key=<%=ENV['GOOGLE_API_SERVER_KEY']%>" data-turbolinks-eval="false"></script>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>
  </head>

  <body>
    <% if current_page? root_path %>
      <div class="landing-page">
        <%= render 'shared/flashes' %>
        <%= yield %>
      </div>
      <% elsif current_page? what_spot_path %>
       <div class="landing-page">
        <%= render 'shared/flashes' %>
        <%= yield %>
      </div>
    <% else %>
      <div class="page js-page">
        <%= render 'shared/sidebar_menu' %>
        <%= render 'shared/flashes' %>
        <main class="content js-content">
          <div class="content-inner">
            <%= yield %>
          </div>
        </main>
      </div>
    <% end %>
    <%= javascript_pack_tag "map" , 'data-turbolinks-track': 'reload'%>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
  </body>
</html>
